.dashboard-wrap{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.dashboard-header{
    display: flex;
    justify-content: space-between;
}

.logout-container{
    margin: 10px 50px 0px 0px;
}
.welcome-message{
    color: var(--knicks-blue);
    margin: 10px 0px 5px 10px;
}
.logout-button,
.restart-button{
    height: 100%;
    width: 100%;
    margin: 0px 10px 0px 10px;
}

.player-search-bar{
    margin-left: 50px;
    height: 35px;
    width: 500px;
}

.game-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}
.create-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.create-button{
    font-size: 20px;
    height: 50px;
    width: 150px;
}
.dropdown {
    margin-left: 50px;
    position: relative;
    max-width: 500px;
}

.dropdown ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: white; 
    border: 1px solid #ccc; 
    border-top: none;
    padding: 0; 
    margin: 0;
    list-style-type: none; 
    z-index: 1000; 
}

.dropdown ul li {
    padding: 8px 12px; 
    cursor: pointer; 
}

.dropdown ul li:hover {
    background-color: gray; 
}
 
.theader-span {
    padding: 10px 0px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex; 
    border: 1px solid black;
    display: flex;
    align-items: center;
    background: white;
    height: fit-content;
}
  
.theader-span span {
    /* border: 1px solid green; */
    font-size: 20px;
    flex: 1; 
    text-align: center; 
}
  
ul {
    list-style: none;
    padding: 0;
}
  
.guessed-players-list li {
    margin-bottom: 10px; 
    display: flex; 
    background: wheat;
    align-items: center;
    border: 1px solid black;
}
  

.guessed-player{
    border: 1px solid black;
    font-weight: bold;
}
.guessed-player span{
    display: flex;
    border: 1px solid black;
    height: 50px;
    width: 100%;
    flex: 1; 
    text-align: center; 
    align-items: center;
    justify-content: center;
}
.correct{
    background: green;
}

.two{
    background: yellow;
}

@media (max-width: 850px) and (min-width: 415px) {
    .guessed-player span{
        max-height: 40px;
        max-width: 75%;
        font-size: 12px;
    }

    .theader-span{
        max-height: 25%;
        font-size: 12px;
    }

    .theader-span span{
        height: 10px;
        margin: 5px;
    }
    .player-search-bar {
        width: 50%; 
        max-width: 300px; 

      }
  }

  @media (max-width:414px) {
    .dashboard-wrap * {
        font-size: 2vh;
    }
    .guessed-player span{
        max-height: 40px;
        max-width: 75%;
        font-size: 2vh;
    }

    .theader-span{
        max-height: 25%;
    }

    .theader-span span{
        font-size: 2vh;
        height: 10px;
        margin: 5px;
    }
    .player-search-bar {
        width: 50%; 
        max-width: 300px; 
  
      }

      .logout-container{
        border: 1px solid green;
        margin-left: auto;
        margin-right: 0px;
      }

    .logout-button, 
    .restart-button{
        height: 3vh;
        width: 15vh;
    }

  }