:root{
    --knicks-blue: #046AB4;
    --knicks-orange: #F48328;
}
.navbar-container {
    padding-top: 10px;
    font-size: 24px;
    display: flex;
    align-items: center;
    background: var(--knicks-blue);
    color: var(--knicks-orange);
}

.site-name {
  /* border: 1px solid black; */
  margin-left: auto;
  text-align: right;
}

.logged-out-title{
    width: 18%;
}

.logged-in-title{
    width: 37%;
}

.other-navlink-wraps {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}

.title-link,
.other-navlink-wraps *{
    text-decoration: none;
    color: var(--knicks-orange);
    margin: 0 10px; 
}


@media (max-width: 850px) and (min-width:414px){
  .navbar-container {
    font-size: 16px; 
  }

  .site-name {
    margin-left: 50px; 
    text-align: center;
  }



  .leaderboard-head-link,
  .about-head-link,
  .dashboard-head-link {
    /* display: */
    text-align: center; 
    margin: 5px 0; /* Add space around each link */
  }
}



@media (max-width: 413px) {
  .navbar-container {
    font-size: 12px; /* Adjust font size for smaller screens */
    padding-top: 5px; /* Adjust padding for smaller screens */
  }

  .site-name {
   /* Center site name on smaller screens */
    text-align: center; 
  }

  .other-navlink-wraps {
    margin-left: 3px;
    font-size: 12px;
    /* display: none; Hide other navigation links on smaller screens */
  }

  .other-navlink-wraps h5 {
    margin-left: 5px;
  }

  .logged-out-title {
    width: 50%; /* Adjust width of logged-out title for smaller screens */
  }

  .logged-in-title {
    width: 40%; /* Adjust width of logged-in title for smaller screens */
  }

  .title-link,
  .other-navlink-wraps * {
    margin: 0; /* Remove margin around links for smaller screens */
  }
}