:root{
    --knicks-blue: #046AB4;
    --knicks-orange: #F48328;
}
.navbar-container {
    padding-top: 10px;
    font-size: 24px;
    display: flex;
    align-items: center;
    background: var(--knicks-blue);
    color: var(--knicks-orange);
}

.site-name {
    margin-left: auto;
    text-align: right;
}

.logged-out-title{
    width: 250px;
}

.logged-in-title{
    width: 530px;
}

.other-navlink-wraps {
    margin-left: auto;
    display: flex;
}

.title-link,
.other-navlink-wraps *{
    text-decoration: none;
    color: var(--knicks-orange);
    margin: 0 10px; 
}


@media (max-width: 850px) {
  .navbar-container {
    font-size: 16px; 
  }

  .site-name {
    margin-left: 50px; 
    text-align: center;
  }



  .leaderboard-head-link,
  .about-head-link,
  .dashboard-head-link {
    display: block;
    text-align: center; 
    margin: 5px 0; /* Add space around each link */
  }
}
