@font-face {
  font-family: 'KnickFont'; /* Name your font family */
  src: url('/assets/nba-knicks.ttf'); /* Locate the .ttf file within your directory*/
}


* {
  font-family: "KnickFont";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input{
  font-family: Arial, Helvetica, sans-serif;
}